<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="718B0274-6B23-4E68-B53E-3B634D61FF87" UpgradeCode="CFF7CBB3-1FA4-4949-A840-53760ACA7F7F" Version="$(var.VERSION).0" Name="spicetify-beat-saber-backend" Manufacturer="kubasz" Language="1033">
    <Package InstallerVersion="405" InstallScope="perMachine" InstallPrivileges="elevated" Compressed="yes" Manufacturer="kubasz" Platform="x64" />
    <Icon Id="Icon" SourceFile="backend.ico" />
    <Media Id="1" Cabinet="app.cab" EmbedCab="yes" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="ManufacturerFolder" Name="kubasz">
          <Directory Name="spicetify-beat-saber-backend" Id="APPLICATIONFOLDER">
            <Directory Name="certifi" Id="APPLICATIONFOLDER.Certifi" />
            <Directory Name="pydantic" Id="APPLICATIONFOLDER.Pydantic" />
          </Directory>
        </Directory>
      </Directory>
    </Directory>
    <ComponentGroup Id="ProductComponents">
      <Component Id="RegistryItems" Guid="D11BA2F9-ADE2-41AA-9010-9185DBAD07CA" Win64="yes" Directory="APPLICATIONFOLDER">
        <RegistryKey Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Run">
          <RegistryValue Type="string" Name="spicetify-beat-saber-backend" Value="[APPLICATIONFOLDER]spicetify-beat-saber-backend.exe" KeyPath="yes" />
        </RegistryKey>
      </Component>
      <Component Id="AppFiles.Certifi" Guid="7BACC803-0AB2-46F8-BCE3-D5C1C35CB88B" Win64="yes" Directory="APPLICATIONFOLDER.Certifi">
        <File Source="Dist\spicetify-beat-saber-backend\certifi\cacert.pem" />
      </Component>
      <Component Id="AppFiles.Pydantic" Guid="D170C1D8-0277-4587-9A08-E22387824F41" Win64="yes" Directory="APPLICATIONFOLDER.Pydantic">
        <File Source="Dist\spicetify-beat-saber-backend\pydantic\__init__.cp38-win_amd64.pyd" />
        <File Source="Dist\spicetify-beat-saber-backend\pydantic\_hypothesis_plugin.cp38-win_amd64.pyd" />
        <File Source="Dist\spicetify-beat-saber-backend\pydantic\annotated_types.cp38-win_amd64.pyd" />
        <File Source="Dist\spicetify-beat-saber-backend\pydantic\class_validators.cp38-win_amd64.pyd" />
        <File Source="Dist\spicetify-beat-saber-backend\pydantic\color.cp38-win_amd64.pyd" />
        <File Source="Dist\spicetify-beat-saber-backend\pydantic\dataclasses.cp38-win_amd64.pyd" />
        <File Source="Dist\spicetify-beat-saber-backend\pydantic\datetime_parse.cp38-win_amd64.pyd" />
        <File Source="Dist\spicetify-beat-saber-backend\pydantic\decorator.cp38-win_amd64.pyd" />
        <File Source="Dist\spicetify-beat-saber-backend\pydantic\env_settings.cp38-win_amd64.pyd" />
        <File Source="Dist\spicetify-beat-saber-backend\pydantic\error_wrappers.cp38-win_amd64.pyd" />
        <File Source="Dist\spicetify-beat-saber-backend\pydantic\errors.cp38-win_amd64.pyd" />
        <File Source="Dist\spicetify-beat-saber-backend\pydantic\fields.cp38-win_amd64.pyd" />
        <File Source="Dist\spicetify-beat-saber-backend\pydantic\json.cp38-win_amd64.pyd" />
        <File Source="Dist\spicetify-beat-saber-backend\pydantic\main.cp38-win_amd64.pyd" />
        <File Source="Dist\spicetify-beat-saber-backend\pydantic\mypy.cp38-win_amd64.pyd" />
        <File Source="Dist\spicetify-beat-saber-backend\pydantic\networks.cp38-win_amd64.pyd" />
        <File Source="Dist\spicetify-beat-saber-backend\pydantic\parse.cp38-win_amd64.pyd" />
        <File Source="Dist\spicetify-beat-saber-backend\pydantic\schema.cp38-win_amd64.pyd" />
        <File Source="Dist\spicetify-beat-saber-backend\pydantic\tools.cp38-win_amd64.pyd" />
        <File Source="Dist\spicetify-beat-saber-backend\pydantic\types.cp38-win_amd64.pyd" />
        <File Source="Dist\spicetify-beat-saber-backend\pydantic\typing.cp38-win_amd64.pyd" />
        <File Source="Dist\spicetify-beat-saber-backend\pydantic\utils.cp38-win_amd64.pyd" />
        <File Source="Dist\spicetify-beat-saber-backend\pydantic\validators.cp38-win_amd64.pyd" />
        <File Source="Dist\spicetify-beat-saber-backend\pydantic\version.cp38-win_amd64.pyd" />
      </Component>
      <Component Id="AppFiles" Guid="0C8978D2-3674-4D89-8A77-912E433DFA80" Win64="yes" Directory="APPLICATIONFOLDER">
        <File Source="Dist\spicetify-beat-saber-backend\_asyncio.pyd" />
        <File Source="Dist\spicetify-beat-saber-backend\_bz2.pyd" />
        <File Source="Dist\spicetify-beat-saber-backend\_ctypes.pyd" />
        <File Source="Dist\spicetify-beat-saber-backend\_decimal.pyd" />
        <File Source="Dist\spicetify-beat-saber-backend\_hashlib.pyd" />
        <File Source="Dist\spicetify-beat-saber-backend\_lzma.pyd" />
        <File Source="Dist\spicetify-beat-saber-backend\_multiprocessing.pyd" />
        <File Source="Dist\spicetify-beat-saber-backend\_overlapped.pyd" />
        <File Source="Dist\spicetify-beat-saber-backend\_queue.pyd" />
        <File Source="Dist\spicetify-beat-saber-backend\_socket.pyd" />
        <File Source="Dist\spicetify-beat-saber-backend\_ssl.pyd" />
        <File Source="Dist\spicetify-beat-saber-backend\api-ms-win-core-console-l1-1-0.dll" />
        <File Source="Dist\spicetify-beat-saber-backend\api-ms-win-core-datetime-l1-1-0.dll" />
        <File Source="Dist\spicetify-beat-saber-backend\api-ms-win-core-debug-l1-1-0.dll" />
        <File Source="Dist\spicetify-beat-saber-backend\api-ms-win-core-errorhandling-l1-1-0.dll" />
        <File Source="Dist\spicetify-beat-saber-backend\api-ms-win-core-file-l1-1-0.dll" />
        <File Source="Dist\spicetify-beat-saber-backend\api-ms-win-core-file-l1-2-0.dll" />
        <File Source="Dist\spicetify-beat-saber-backend\api-ms-win-core-file-l2-1-0.dll" />
        <File Source="Dist\spicetify-beat-saber-backend\api-ms-win-core-handle-l1-1-0.dll" />
        <File Source="Dist\spicetify-beat-saber-backend\api-ms-win-core-heap-l1-1-0.dll" />
        <File Source="Dist\spicetify-beat-saber-backend\api-ms-win-core-interlocked-l1-1-0.dll" />
        <File Source="Dist\spicetify-beat-saber-backend\api-ms-win-core-libraryloader-l1-1-0.dll" />
        <File Source="Dist\spicetify-beat-saber-backend\api-ms-win-core-localization-l1-2-0.dll" />
        <File Source="Dist\spicetify-beat-saber-backend\api-ms-win-core-memory-l1-1-0.dll" />
        <File Source="Dist\spicetify-beat-saber-backend\api-ms-win-core-namedpipe-l1-1-0.dll" />
        <File Source="Dist\spicetify-beat-saber-backend\api-ms-win-core-processenvironment-l1-1-0.dll" />
        <File Source="Dist\spicetify-beat-saber-backend\api-ms-win-core-processthreads-l1-1-0.dll" />
        <File Source="Dist\spicetify-beat-saber-backend\api-ms-win-core-processthreads-l1-1-1.dll" />
        <File Source="Dist\spicetify-beat-saber-backend\api-ms-win-core-profile-l1-1-0.dll" />
        <File Source="Dist\spicetify-beat-saber-backend\api-ms-win-core-rtlsupport-l1-1-0.dll" />
        <File Source="Dist\spicetify-beat-saber-backend\api-ms-win-core-string-l1-1-0.dll" />
        <File Source="Dist\spicetify-beat-saber-backend\api-ms-win-core-synch-l1-1-0.dll" />
        <File Source="Dist\spicetify-beat-saber-backend\api-ms-win-core-synch-l1-2-0.dll" />
        <File Source="Dist\spicetify-beat-saber-backend\api-ms-win-core-sysinfo-l1-1-0.dll" />
        <File Source="Dist\spicetify-beat-saber-backend\api-ms-win-core-timezone-l1-1-0.dll" />
        <File Source="Dist\spicetify-beat-saber-backend\api-ms-win-core-util-l1-1-0.dll" />
        <File Source="Dist\spicetify-beat-saber-backend\api-ms-win-crt-conio-l1-1-0.dll" />
        <File Source="Dist\spicetify-beat-saber-backend\api-ms-win-crt-convert-l1-1-0.dll" />
        <File Source="Dist\spicetify-beat-saber-backend\api-ms-win-crt-environment-l1-1-0.dll" />
        <File Source="Dist\spicetify-beat-saber-backend\api-ms-win-crt-filesystem-l1-1-0.dll" />
        <File Source="Dist\spicetify-beat-saber-backend\api-ms-win-crt-heap-l1-1-0.dll" />
        <File Source="Dist\spicetify-beat-saber-backend\api-ms-win-crt-locale-l1-1-0.dll" />
        <File Source="Dist\spicetify-beat-saber-backend\api-ms-win-crt-math-l1-1-0.dll" />
        <File Source="Dist\spicetify-beat-saber-backend\api-ms-win-crt-process-l1-1-0.dll" />
        <File Source="Dist\spicetify-beat-saber-backend\api-ms-win-crt-runtime-l1-1-0.dll" />
        <File Source="Dist\spicetify-beat-saber-backend\api-ms-win-crt-stdio-l1-1-0.dll" />
        <File Source="Dist\spicetify-beat-saber-backend\api-ms-win-crt-string-l1-1-0.dll" />
        <File Source="Dist\spicetify-beat-saber-backend\api-ms-win-crt-time-l1-1-0.dll" />
        <File Source="Dist\spicetify-beat-saber-backend\api-ms-win-crt-utility-l1-1-0.dll" />
        <File Source="Dist\spicetify-beat-saber-backend\base_library.zip" />
        <File Source="Dist\spicetify-beat-saber-backend\libcrypto-1_1.dll" />
        <File Source="Dist\spicetify-beat-saber-backend\libffi-7.dll" />
        <File Source="Dist\spicetify-beat-saber-backend\libssl-1_1.dll" />
        <File Source="Dist\spicetify-beat-saber-backend\pyexpat.pyd" />
        <File Source="Dist\spicetify-beat-saber-backend\python38.dll" />
        <File Source="Dist\spicetify-beat-saber-backend\select.pyd" />
        <File Source="Dist\spicetify-beat-saber-backend\spicetify-beat-saber-backend.exe" />
        <File Source="Dist\spicetify-beat-saber-backend\ucrtbase.dll" />
        <File Source="Dist\spicetify-beat-saber-backend\unicodedata.pyd" />
        <File Source="Dist\spicetify-beat-saber-backend\VCRUNTIME140.dll" />
        <RemoveFolder Id="APPLICATIONFOLDER" On="uninstall" />
      </Component>
    </ComponentGroup>
    <Feature Id="ProductFeature" Title="spicetify-beat-saber-backend" Description="spicetify-beat-saber-backend">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
    <UIRef Id="WixUI_InstallDir" />
    <Property Id="WIXUI_INSTALLDIR" Value="APPLICATIONFOLDER" />
    <Property Id="ARPPRODUCTICON" Value="Icon" />
  </Product>
</Wix>
